@media (max-width: 600px) {
  .lojas {
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lojas h2 {
    margin-bottom: 32px;
  }

  .lojas-conteudo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .lojas {
    grid-template-columns: 1fr;
  }
}
