@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }

  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicleta-imagens {
    grid-row: 2;
  }
}
